# MinIO Root Credentials
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# MinIO Server URLs (HTTPS for Production Grade)
MINIO_SERVER_URL=
MINIO_BROWSER_REDIRECT_URL=

# Ports (Internal & Host Mapping)
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443

# Storage Paths (Local Host Paths)
MINIO_DATA_DIR=./data
MINIO_CONFIG_DIR=./config
NGINX_CERTS_DIR=./certs
NGINX_CONFIG_FILE=./nginx.conf

# Nginx Domains
S3_DOMAIN=
CONSOLE_DOMAIN=

# Bucket Configuration
AWS_S3_BUCKET_NAME=upload